aniso8601==8.0.0
appdirs==1.4.4
astroid==2.4.1
Babel==2.8.0
bcrypt==3.1.7
blinker==1.4
Brotli==1.0.7
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
distlib==0.3.0
dnspython==1.16.0
email-validator==1.1.1
filelock==3.0.12
flash==1.0.3
Flask==1.1.2
Flask-BabelEx==0.9.4
Flask-Bcrypt==0.7.1
Flask-Compress==1.5.0
Flask-Cors==3.0.8
Flask-Ext==0.1
Flask-JWT-Extended==3.24.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-mongoengine==0.9.5
Flask-MySQL==1.5.1
Flask-Principal==0.4.0
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
future==0.18.2
gunicorn==20.0.4
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
login==0.0.6
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.10.7
npm==0.1.1
numpy==1.18.5
optional-django==0.1.0
pandas==1.0.4
passlib==1.7.2
plotly==4.8.1
pycparser==2.20
PyJWT==1.7.1
pylint==2.5.2
pymongo==3.10.1
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2020.1
requests==2.22.0
retrying==1.3.3
six==1.14.0
speaklater==1.3
SQLAlchemy==1.3.17
toml==0.10.0
urllib3==1.25.7
virtualenv==20.0.20
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.1
